<div class="wrap">
    <div class="card" (click)='addNewGroup()'>
      <div class="front"><span>Создать новую группу</span></div>
      <div class="back green"><span>Создание</span></div>
    </div>
    <div class="card" (click)="editGroup()">
        <div class="front"><span>Изменить расписание группы</span></div>
        <div class="back yellow"><span>Изменение</span></div>
      </div>
      <div class="card" (click)='deleteGroup()'>
          <div class="front"><span>Удалить группу</span></div>
          <div class="back red"><span>Удаление</span></div>
        </div>
  </div>
